# Conectando o Python ao MySql.

##### Intalando Biblioteca:

`pip install mysql-connector-pyhton`

#### Importando Biblioteca e configurando conexão.

In [3]:
import mysql.connector

banco = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "dados"

)

print(banco)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000270034BC200>

#### Criando o cursor e executando comando para criação do banco de dados.

###### Aqui há de ficar atento, porquer o método CREATE DATABASE só pode ser acionado na hora da criação do banco de dados, logo, o campo database da tupla 'banco', só pode ser chamado apos a criação, normalmente esses campos são criados antes do desenvolvimento do app, o comando está ai apenas pada efeito demonstrativo, não é uma prática recorrente.

In [6]:
cursor = banco.cursor()

cursor.execute("CREATE DATABASE dados ")

#### Agora vamos criar as tabelas.

In [7]:
cursor.execute("CREATE TABLE pessoas(nome VARCHAR(211), idade INT, rg INT)")

banco.commit()

#### Inserindo dados na tabela.

In [14]:
comando_sql = "INSERT INTO pessoas(nome, idade, rg) VALUES(%s,%s,%s)"
dados = ('manuel',45,7882242211)

cursor.execute(comando_sql,dados)
banco.commit()

#### Agora vamos ler os dados do Banco
##### `valores_lidos` vai receber um arry de objetos, onde podemos selecionar apenas o que queremos ou exibir todos

In [17]:
comando_sql = "SELECT * FROM pessoas"

cursor.execute(comando_sql)

valores_lidos = cursor.fetchall()
print(valores_lidos[0])

('Maria', 26, 2147483647)

#### Selecionando um dado expecifico do banco de dados.

In [24]:
comando_sql = "SELECT idade FROM pessoas  "

cursor.execute(comando_sql)

valores_lidos = cursor.fetchall()
print(valores_lidos)

[(38,), (45,)]

#### Excluindo dados do Banco.

In [23]:
comando_sql = "DELETE FROM pessoas WHERE idade < 30"

cursor.execute(comando_sql)
valores_lidos = cursor.fetchall()
print(valores_lidos)
banco.commit()

[]